[flake8]
# max_line_length = 79
# max-complexity = 10
doctests = true
# extend-ignore = E203,W503,D105,D107  # D* are in pyproject.toml
extend-ignore = E203,W503,D105,B019
extend-select = W504
per-file-ignores =
    tests/*: D
    */tests/*: D
    s1etad/_s1utils.py: D102
statistics = True
count = True
