recursive-include docs *.py *.rst *.ipynb Makefile make.bat
include CHANGELOG.rst
include docs/*.txt
include tests/*.py tests/requirements-tests.txt tests/data/registry.txt
prune docs/_build
prune sample-products
prune templates
